* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3 {
    text-align: center;
}

.explicacao {
    padding: 40px 4%;
    background-color: #ccc;
}

.explicacao p {
    padding: 10px;
    font-weight: bold;
}

.seAcontecer {
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 4%;
    gap: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.seAcontecer .losangulo {
    width: 70PX;
    height: 70PX;
    background: red;
    transform:rotate(45deg);
    position: relative;
}

.seAcontecer .losangulo p {
    transform:rotate(-45deg);
    font-size: 15px;
    position: absolute;
    top: 23px;
    left: 5px;
}

.seAcontecer .opcoes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.seAcontecer .opcoes .item {
    background-color: darkred;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seAcontecer .circulo {
    width: 50PX;
    height: 50PX;
    background: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.tipos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 50px;
}

.tipos .simples{
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detran {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ccc;
    padding: 40px;
    height: 600px;
}

.detran .multas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.detran .multas input#txtvel {
    height: 30px;
    text-align: center;
    font-weight: bold;
}

.detran .multas input:nth-child(2) {
    border-radius: 20px;
    width: 100px;
    height: 20px;
}