h1,h2,h3 {
    text-align: center;
}

.explicacao {
    background-color: #ccc;
    letter-spacing: 1px;
    padding: 10px;
}

.explicacao p:first-child {
    text-align: center;
    font-size: 25px;
    color: red;
}

.explicacao strong {
    color: black;
}

.arvore {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: 3px solid #ccc;
    margin: 3px;
    border-radius: 7px;
}

.arvore h3 {
    border: 2px solid red;
    padding: 3px 7px;
    border-radius: 3px;
}

.dentro p {
    border: 2px solid red;
    padding: 3px 7px;
    border-radius: 3px;
}

.arvore .dentro {
    display: flex;
    align-items: start;
    justify-content: start;
    gap:20px;
}

.cima {    
    border: 2px solid blue;
    padding: 3px 7px;
    border-radius: 3px;
}

.arvore .fora 